.searchBox {
  display: flex;
  align-items: center;
  background-color: #ededed;
  height: 30px;
  border-radius: 4px;
}
.searchLogo{
  width: 15px;
  height: 15px;
  padding-left: 20px;
}
.searchLogo,.searchLogo img{
  background-color: #ededed;
}
.searchInput {
  padding-left: 5px;
  background-color: #ededed;
  outline: none;
  border: none;
  font-size: 14px;
  width: 100%;
}