.homePage{
  width: 100%;
  height: 100%;
}
.headWrapper{
  height: 46px;
  display: flex;
  box-sizing: border-box;
  padding: 8px 10px;
  justify-content: space-between;
  align-items: center;
  
}
.textLogo{
  width: 70px;
  height: 20px;
}
.homeSearch{
  width: 230px
}
.handleLogin{
  width: 40px;
  box-sizing: border-box;
  border: 1px solid #B4282D;
  white-space:nowrap;
  font-size: 14px;
  text-align: center;
  border-radius: 4px;
  color: #B4282D;
}
.pageContent {
  position: fixed;
  left: 0;
  width: 100%;
  top: 74px;
  bottom: 40px;
  background-color: #eee;
}
