.homePage{
  width: 100%;
  height: 100%;
}
.headWrapper{
  display: flex;
  box-sizing: border-box;
  padding: 8px 10px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.textLogo{
  width: 76px;
  height: 25px;
}
.homeSearch{
  width: 220px
}
.handleLogin{
  width: 45px;
  box-sizing: border-box;
  border: 1px solid #B4282D;
  white-space:nowrap;
  font-size: 14px;
  text-align: center;
  border-radius: 4px;
  color: #B4282D;
}
.goods {
  position: fixed;
  top: 90px;
  bottom: 64px;
  background-color: #eee;
}
/* .BottomBar {
  bottom: 0;
} */